@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styling */
.navbar {
    background-color: #0075DC;
}


.nav-link{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    text-decoration: none;
    font-size: 150%;
}

.navbar-brand img {
    width: 20vw;
}

.navbar-brand {
    width: 15%;
}

body {
    background: rgba(164,213,252, 0.3); /* Agrega opacidad al color sólido */
    background: radial-gradient(circle, rgba(164,213,252,0.3) 50%, rgba(119,192,251,0.3) 75%, rgba(74,171,250,0.3) 100%); /* Agrega opacidad al gradiente */
}

