<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menú de profesores</title>
    <link rel="stylesheet" href="teacher.css" />
  </head>
  <body>
    <teacher-header class="header-page"></teacher-header>
    <main class="content-page">
      <div class="title-page">
        <h1>ITSON CIA</h1>
        <h2>Profesores</h2>
      </div>
      <section class="about-section">
        <p>
          Bienvenido al portal de profesores de
          <span class="primary-text">ITSON CIA</span>, diseñado para
          proporcionar acceso rápido a recursos, avisos y herramientas para
          apoyar tu desarrollo académico.
        </p>
      </section>
    </main>
    <footer class="footer-page">
      <p>©2024 Todos los derechos reservados</p>
    </footer>
    <script type="module" src="teacher.js"></script>
  </body>
</html>
