<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menú de Administración</title>
    <link rel="stylesheet" href="admin.css" />
  </head>
  <body>
    <admin-header class="header-page"></admin-header>
    <main class="content-page">
      <h1>Bienvenida</h1>
    </main>
    <footer class="footer-page">
      <p>© 2021 Todos los derechos reservados</p>
    </footer>
    <script type="module" src="admin.js"></script>
  </body>
</html>
