<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selected Classes</title>
    <link rel="stylesheet" href="selected-classes.css">
</head>
<body>
    <student-header class="header-page"></student-header>
    <h2>Clases seleccionadas</h2>
    <ul id="enrolled-classes-list">
        <!-- Enrolled classes will be dynamically injected here -->
    </ul>
    <script type="module" src="selected-classes.js"></script>
</body>
</html>
