@import url("../../../../styles/global.css");

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(
        135deg,
        rgb(111, 182, 243) 16%,
        rgb(165, 212, 241) 90%
      );
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  h1 {
    font-size: 1.8rem;
    color: var(--primary);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .update-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
    display: block;
  }
  
  input[type="text"],
  input[type="file"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #007bff;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
  }
  
  .btn:hover {
    opacity: 0.9;
  }

  .toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transition: opacity 0.5s ease-in-out;
  }

  .toast.success {
    background-color: #4CAF50;
  }

  .toast.error {
    background-color: #f44336;
  }
  
  .password-wrapper {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: #007bff;
    padding: 0;
  }
  