.table-classes {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    background-color: transparent;
  }
  
  .current-page {
    font-size: 14px;
    font-family: Arial, sans-serif;
  }
  
  .table-classes__header {
    background-color: transparent;
    color: #333;
    text-align: left;
    font-weight: bold;
  }
  
  .table-classes__header th {
    padding: 12px;
    border-bottom: 2px solid #ddd;
  }
  
  .table-classes__body__row:nth-child(even) {
    background-color: transparent;
  }
  
  .table-classes__body__row:hover {
    cursor: pointer;
    user-select: none;
    background-color: #eaf2ff;
    transition: background-color 0.2s ease-in-out;
  }
  
  .table-classes__body td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .table-classes__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 14px;
  }
  
  /* Estilo específico para los items de la tabla */
  .table-item {
    cursor: pointer;
    user-select: none;
  }
  
  .table-item:hover {
    background-color: #eaf2ff;
    transition: background-color 0.2s ease-in-out;
  }
  
  #previousPage,
  #nextPage {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
  }
  
  #previousPage:disabled,
  #nextPage:disabled {
    background-color: #ddd;
    color: #888;
    cursor: not-allowed;
  }
  
  #previousPage:hover:not(:disabled),
  #nextPage:hover:not(:disabled) {
    background-color: #0056b3;
  }
  