<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menú de Estudiantes</title>
    <link rel="stylesheet" href="student.css" />
  </head>
  <body>
    <student-header class="header-page"></student-header>
    <main class="content-page">
      <h1>Bienvenida</h1>

      <!--ESTO NO ES UN POPCAT-->
      <!--NO BORRAR, ESTÁ VICULADO AL REPOSITORIO Y LO BORRARÁ SI LO ELIMINAN-->
      <!--ATTE. PEÑA -->
      <img src="https://media.tenor.com/VqQyx_FNvQoAAAAj/popcat-pop.gif" alt="" class="pop-cat">

    </main>
    <footer class="footer-page">
      <p>© 2021 Todos los derechos reservados</p>
    </footer>
    <script type="module" src="student.js"></script>
  </body>
</html>
